<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2 ">
        <div class="card">
            <div class="card-header">
                <h5>Ajouter un nouveau patient</h5>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{save}">

                    <div>
                        <label for="nom">Nom</label>
                        <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}">
                        <span class="text-danger" th:errors="${patient.nom}"></span>
                    </div>

                    <div>
                        <label for="dateNaissance">Date de naissance</label>
                        <input id="dateNaissance" class="form-control" type="date" name="DateNaissance" th:value="${patient.dateNaissance}">
                        <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
                    </div>

                    <div>
                        <label for="malade">Malade</label>
                        <input id="malade" type="checkbox" name="malade" th:checked="${patient.malade}">
                        <span class="text-danger" th:errors="${patient.malade}"></span>
                    </div>

                    <div>
                        <label for="score">Score</label>
                        <input id="score" class="form-control" type="text" name="score" th:value="${patient.score}">
                        <span class="text-danger" th:errors="${patient.score}"></span>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <!--            <button type="submit" class="btn btn-outline-dark" th:href="@{/index}">Annuler</button>-->
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>


</body>
</html>